.result-wrapper {
    padding: 10px;
    border: 1px solid #ddd; /* Add border style */
    font-weight: bold;
  }
  
  .result-wrapper:hover {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .result-wrapper img {
    max-width: 150px; /* Set the maximum width */
    max-height: 200px; /* Set the maximum height */
    margin-bottom: 10px;
  }
  
  .result-wrapper p {
    margin-top: 10px;
  }
  