<<<<<<< HEAD
/* App.css */

=======
>>>>>>> 54f74e49d0d737586ab8775a47ec97a4e4abb032
.App {
  text-align: center;
}

<<<<<<< HEAD
.link-container {
  display:flex;
  justify-content: right;
  margin-top: 20px;
}

.link-container div {
  margin: 0 10px;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
=======
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> 54f74e49d0d737586ab8775a47ec97a4e4abb032
