.cast-item {
    text-align: center;
}
.cast-item img {
    width: 100%;
    height: auto;
}
.cast-item .cast-name {
    margin-top: 10px;
}


/* .cardContainer{
    margin: 3em;
    padding: 2px;
}

.image{
    max-width: 12em;
    max-height: 12em;
} */