.cast-item {
    text-align: center;
}
.cast-item img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    position: relative;
}
.cast-name {
    font-weight: bold;
    position: absolute;
    margin-top: -1.5em;
    color: whitesmoke;
    background-color: black;
    width: 200px;
}