
.cardContainer{
    margin: 3em;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.image{
    max-width: 12em;
    max-height: 12em;
    border-radius: 1em;
    box-shadow: 0 10px 6px -6px #777;
}
.button{
    position: absolute;
    top: 8px;
    height: 20px;
    left: 5.5em;
    background: transparent;
    border: 0;
    color: red;
    font-size: large;
}