.dropDown{
    color: Orange;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    border: none;
}
.dropDown:focus{
    outline: none;
    border-color: transparent; 
    box-shadow: none;
}
.dropDown option{
    color: black;
}