.update-movie-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
  }
  .updatemovie{
    background: rgb(232, 229, 229);
  }
  .updateMovieApp {
    margin: auto;
    text-align: center;
    /* display:flex ; */
    min-height: 100vh;
    width: 70%;
    /* align-items: center;
    justify-content: center; */
    
  
  }
  
  .updateMovieH2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .updateMovieForm {
    display: flex;
    flex-direction: column;
  }
  
  .updateMovieForm>label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .link-btn{
   
   
    
      background: rgb(245, 244, 243);
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }