.update-movie-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
  }
  .App {
    text-align: center;
    display:flex ;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image:white;
  
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .link-btn{
   
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }