.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  
  .cast-member p {
    margin-bottom: 10px;
    font-weight: bold;
  }
.cast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cast-member {
  text-align: center;
}

.cast-member img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
