
.homeContainer{
  background-color: black;
  min-height: 93vh;
}

.searchForm{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20% 20%;
}

.home-body  input
{
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  width: 100%;
}

.home-body  input:focus{
  outline: none;
  border-color: #007bff;
}

.home-body input[type="file"] 
{
  cursor: pointer;
}

.home-body button 
{
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.home-body button:hover 
{
  background-color: #0056b3;
  transform: scale(1.05);
}